name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        go: ["1.23.8", "1.24.2"]
    permissions:
      contents: read

    steps:
      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go }}

      - name: Code checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: go mod download
        env:
          CGO_ENABLED: 0
        run: |
          go mod download

      - name: go test
        env:
          CGO_ENABLED: 0
        run: |
          go test -v -trimpath ./...

      - name: go test -race
        env:
          CGO_ENABLED: 1
        run: |
          go test -v -trimpath -race ./...
