name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  tests:
    name: Tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04]
        go: ["1.23.8", "1.24.2"]
    permissions:
      contents: read

    steps:
      - name: Setup Go
        uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
        with:
          go-version: ${{ matrix.go }}

      - name: Code checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: go mod download
        env:
          CGO_ENABLED: 0
        run: |
          go mod download

      - name: go test
        env:
          CGO_ENABLED: 0
        run: |
          go test -v -trimpath ./...

      - name: go test -race
        env:
          CGO_ENABLED: 1
        run: |
          go test -v -trimpath -race ./...
